/* Declare variables */

:root {
    --oxford-blue: #0F1A3A;
    --cool-grey: #9493B7;
    --liberty: #5D67A9;
    --space-cadet: #213261;
}


/* Universal selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background-color: var(--oxford-blue);
}

/* header styling for logo. nav and hero*/

header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Navigation styles */

header nav {
    /*background: rgba(55,55,55,0.3);*/
    box-shadow: 0px 1px 50px var(--cool-grey);
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2%;
    width: 100%;
    margin-top: 10%;
}

#logo {
    font-size: 30px;
}

.hero-container {
    height: 100%;
}

#hero {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 5px 25px black;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    max-width: 500px;
    background-color: var(--cool-grey);
    margin: 2.5%;
    border-radius: 5px;
    box-shadow: 0px 5px 25px black;
}

/* Hero styling */

/* Contact information styling */

/* Work styling */

/* Contact styling */

/* Footer styling */